NEXT_PUBLIC_IDENTITY_API_URL=http://localhost:8081
NEXT_PUBLIC_ORGANISATION_API_URL=http://localhost:8082
NEXT_PUBLIC_CURRICULUM_API_URL=http://localhost:8083
NEXT_PUBLIC_STUDENT_LEARNING_API_URL=http://localhost:8084
NEXT_PUBLIC_ASSESSMENT_API_URL=http://localhost:8085
NEXT_PUBLIC_EVIDENCE_API_URL=http://localhost:8086
