NEXT_PUBLIC_IDENTITY_API_URL=http://localhost:8081
NEXT_PUBLIC_ORGANISATION_API_URL=http://localhost:8082
NEXT_PUBLIC_CURRICULUM_API_URL=http://localhost:8083
NEXT_PUBLIC_STUDENT_LEARNING_API_URL=http://localhost:8084
NEXT_PUBLIC_ASSESSMENT_API_URL=http://localhost:8085
NEXT_PUBLIC_EVIDENCE_API_URL=http://localhost:8086
NEXT_PUBLIC_DIAGNOSTIC_API_URL=http://localhost:8088
NEXT_PUBLIC_GAP_API_URL=http://localhost:8089
NEXT_PUBLIC_MASTERY_API_URL=http://localhost:8090
NEXT_PUBLIC_EI_API_URL=http://localhost:8091
NEXT_PUBLIC_INTERVENTION_API_URL=http://localhost:8092
NEXT_PUBLIC_AI_GATEWAY_API_URL=http://localhost:8093
NEXT_PUBLIC_COMMUNICATION_API_URL=http://localhost:8094
NEXT_PUBLIC_NOTIFICATION_API_URL=http://localhost:8095
NEXT_PUBLIC_REPORTING_API_URL=http://localhost:8096
NEXT_PUBLIC_CONFIGURATION_API_URL=http://localhost:8098
NEXT_PUBLIC_FEDERATION_API_URL=http://localhost:8099
NEXT_PUBLIC_NATIONAL_REPORTING_API_URL=http://localhost:8100
